.warning{
  background:red;
  color: #fff;
}
html, body, #application {
  width: 100%;
  height: 100%;
}

.SplitPane {
  width: 100%;
  height: 100%;
}

.SplitPane-left {
  float: left;
  width: 30%;
  height: 100%;
}

.SplitPane-right {
  float: left;
  width: 70%;
  height: 100%;
}

.Contacts {
  width: 100%;
  height: 100%;
  background: lightblue;
}

.Chat {
  width: 100%;
  height: 100%;
  background: pink;
}


body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
  margin: 0 auto;
  width: 500px;
}
.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
}

.todoListMain .header form{
  display: flex;
  flex:1;
}

.todoListMain .header input[type="text"] {
  flex : 1
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin-right: 5px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  /* width: 255px; */
  display: flex;
  flex-flow: row wrap;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  flex: 1 100%;
  display: flex;
}
.todoListMain .theList li span{
  flex: 2.2;
  align-items: center;
  display: flex;
}
.todoListMain .theList li span.buttonContainer{
  flex: 1;
  text-align: right;
  display: flex;
}
.todoListMain .theList li span.buttonContainer button{
  flex:1;
}
.strike{
  text-decoration: line-through;
}

.show{
  display: inline-block;
}
.hide{
  display: none;
}


.todoListMain .header button:disabled {
  background:red;
}
